---
import waveTop from "@assets/images/bg-footer-top-desktop.svg"
import Img from "@components/atoms/Img.astro"
import Contact from "@huddle/molecules/Contact.astro"
import Form from "@huddle/molecules/Form.astro"
---

<div
  class="relative flex flex-col-reverse sm:flex-row justify-between align-top gap-32 pt-16 sm:pt-36 pb-28 -mx-10 sm:-mx-14 md:-mx-20 px-10 sm:px-14 md:px-20 bg-customVeryDarkCyan">
  <Img className="absolute -top-20 left-0 right-0 w-full h-20" src={waveTop} title="Wave Top" />
  <Contact />
  <Form />
</div>
