---
import communities from "@assets/icons/icon-communities.svg"
import messages from "@assets/icons/icon-messages.svg"
import Volume from "@huddle/molecules/Volume.astro"
---

<div class="flex flex-col sm:flex-row items-center justify-center sm:justify-around gap-20 my-20">
  <Volume image={communities} title="1.4k+" description="Communities Formed" />
  <Volume image={messages} title="2.7m+" description="Messages Sent" />
</div>
