---
import Button from "@components/atoms/Button.astro"
import Description from "@components/atoms/Description.astro"
import Input from "@components/atoms/Input.astro"
import Subtitle from "@components/atoms/Subtitle.astro"
---

<div class="w-full h-auto sm:w-[35rem]">
  <Subtitle className="text-customVeryPaleBlue font-semibold text-2xl">NEWSLETTER</Subtitle>
  <Description className="text-customVeryPaleBlue my-8 font-normal sm:pr-36"
    >To recieve tips on how to grow your community, sign up to our weekly newsletter. We'll never
    send you spam or pass on your email address</Description
  >
  <form
    action="POST"
    class="flex flex-col sm:flex-row items-end justify-center sm:items-center gap-5">
    <Input
      name="email"
      placeholder=""
      className="py-4 w-full sm:w-96 bg-customVeryPaleBlue broder-none outline-none rounded"
    />
    <Button
      className="py-2 sm:py-3.5 px-10 text-customVeryPaleBlue font-normal text-lg bg-customPink border-customPink rounded-md"
      >Subscribe</Button
    >
  </form>
</div>
