---
import Button from "@components/atoms/Button.astro"
import Input from "@components/atoms/Input.astro"
import Typography from "@components/atoms/Typography.astro"
---

<div class="w-full h-auto sm:w-[40rem]">
  <Typography tag="h5" className="text-customVeryPaleBlue font-semibold text-4xl"
    >NEWSLETTER</Typography
  >
  <Typography tag="p" className="text-customVeryPaleBlue text-2xl my-8 font-normal sm:pr-36"
    >To recieve tips on how to grow your community, sign up to our weekly newsletter. We'll never
    send you spam or pass on your email address</Typography
  >
  <form
    action="POST"
    class="flex flex-col sm:flex-row items-end justify-center sm:justify-between sm:items-center gap-5">
    <Input
      name="email"
      placeholder=""
      className="py-6 w-full sm:w-96 bg-customVeryPaleBlue broder-none outline-none rounded"
    />
    <Button
      className="py-4 px-12 text-customVeryPaleBlue font-normal text-2xl bg-customPink border-customPink rounded-md"
      >Subscribe</Button
    >
  </form>
</div>
