---
import Description from "@components/atoms/Description.astro"
import Title from "@components/atoms/Title.astro"
---

<div class="mb-10">
  <Title className="text-customVeryDarkCyan mb-5 text-4xl sm:text-5xl"
    >Build The Community Your Fans Will Love</Title
  >
  <Description className="text-lg sm:text-xl text-customVeryDarkCyan sm:px-32 md:px-52"
    >Huddle re-imagines the way we build communities. You have a voice, but so does your audience.
    Create connections with your users as you engage in genuine discussion</Description
  >
</div>
