---
import Button from "@components/atoms/Button.astro"
import Nav from "@components/layouts/Nav.astro"
---

<Nav>
  <Button
    isRounded
    className="bg-transparent text-customPink border-customPink text-xl py-4 px-6 shadow-xl"
    >Try It Free</Button
  >
</Nav>
