---
import Img from "@components/atoms/Img.astro"
import Typography from "@components/atoms/Typography.astro"
import type { ImageMetadata } from "astro"

interface Props {
  image: ImageMetadata
  title: string
  description: string
}

const { image, title, description } = Astro.props
---

<div class="w-60 sm:w-auto flex flex-col gap-3">
  <Img className="w-10" src={image} title={title} />
  <Typography tag="h3" className="text-customVeryDarkCyan text-7xl font-semibold"
    >{title}</Typography
  >
  <Typography tag="p" className="text-2xl text-customVeryDarkCyan">{description}</Typography>
</div>
