---
import { Image } from "astro:assets"
import Analytics from "@components/Analytics.astro"
import Form from "@components/Form.astro"
import FreeBtn from "@components/FreeBtn.astro"
import Hero from "@components/Hero.astro"
import Informations from "@components/Informations.astro"
import Logo from "@components/Logo.astro"
import Socials from "@components/Socials.astro"
import MainImage from "@images/screen-mockups.svg"
import Footer from "@layouts/Footer.astro"
import Header from "@layouts/Header.astro"
import Layout from "@layouts/Layout.astro"
import Main from "@layouts/Main.astro"
import Section from "@layouts/Section.astro"
---

<Layout title="Welcome to Astro.">
  <Header>
    <Logo />
    <FreeBtn />
  </Header>
  <Main>
    <Hero
      title="Build The Community Your Fans Will Love"
      description="Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion."
    />
    <Image src={MainImage} alt="Main image" />
  </Main>
  <Section stylesSection={{ paddingInline: "10rem" }}>
    <Analytics â„ />
  </Section>
  <Section>
    <Informations />
  </Section>
  <Section stylesSection={{ textAlign: "center" }}>
    <Hero title="Ready to Build Your Community?" />
  </Section>
  <Footer>
    <Socials />
    <Form />
  </Footer>
</Layout>

<style></style>
