---
import Contents from "./Contents.astro"
import Form from "./Form.astro"
---

<div class="conections-container">
  <Contents
    title="Get early access today"
    description="It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you."
  />
  <Form
    formBtn="hero-action"
    widthInput="40rem"
    placeholder="email@example.com"
    textBtn="Get Started For Free"
  />
</div>

<style>
  .conections-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem 25rem;
    margin: 0 -6rem;
    padding: 6rem;
    background-color: var(--desaturated-blue);
    color: var(--white);
  }

  @media (width <= 1000px) {
    .conections-container {
      flex-direction: column;
      gap: 2rem 0;
      text-align: center;
    }
  }

  @media (width <= 670px) {
  }
</style>
