---
const { title, description } = Astro.props
---

<div class="contents-container">
  <h2 class="title">{title}</h2>
  <p class="description">{description}</p>
  <slot />
</div>

<style>
  .contents-container {
    width: 45%;
  }

  .title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .description {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  @media (width <= 1000px) {
    .contents-container {
      width: 100%;
    }
  }

  @media (width <= 670px) {
    .contents-container {
      text-align: center;
    }
  }
</style>
