---
const { alternative, title, description, descriptionTwo } = Astro.props
const widthContainer = alternative ? "55%" : "45%"
const textAlignContainer = alternative ? "center" : "left"
const opacityDescription = alternative ? ".8" : "0.6"
---

<div class="contents-container">
  <h2 class="title">{title}</h2>
  <p class="description">{description}</p>
  {descriptionTwo && <p class="description">{descriptionTwo}</p>}
  <slot />
</div>

<style define:vars={{ widthContainer, textAlignContainer, opacityDescription }}>
  .contents-container {
    width: var(--widthContainer);
    text-align: var(--textAlignContainer);
  }

  .title {
    font-size: 3.5rem;
    margin: 2rem 0;
  }

  .description {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    opacity: var(--opacityDescription);
  }

  @media (width <= 1000px) {
    .contents-container {
      width: 100%;
    }
  }

  @media (width <= 670px) {
    .contents-container {
      text-align: center;
    }

    .description {
      text-align: left;
    }
  }
</style>
