---
import { Image } from "astro:assets"
import wave from "@images/bg-curvy-desktop.svg"
import hero from "@images/illustration-1.svg"
import heroAlternative from "@images/illustration-intro.png"
import Contents from "./Contents.astro"
import Form from "./Form.astro"

const { alternative } = Astro.props
const textColor = alternative ? "var(--light-grayish-blue)" : "var(--very-dark-blue)"
const imageHero = alternative ? heroAlternative : hero
const flexDirContainer = alternative ? "column-reverse" : "row"
const sizeImageContainer = alternative ? "auto" : "50rem"
const paddingInlineContainer = alternative ? "6rem" : "none"
const marginInlineContainer = alternative ? "-6rem" : "none"
const paddingInlineMobileContainer = alternative ? "4rem" : "none"
const marginInlineMobileContainer = alternative ? "-4rem" : "none"
---

<div class="hero-container">
  <Contents
    alternative={alternative}
    title="All your files in one secure location, accessible anywhere"
    description="Fylo stores your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family and co-workers.">
    <Form
      alternative={alternative}
      formBtn="hero-action"
      widthInput="30rem"
      placeholder="Enter your email..."
      textBtn="Get Started"
    />
  </Contents>
  <div class="image-container">
    <Image class="image" src={imageHero} alt="Image hero" />
  </div>
  {alternative && <img class="wave" src={wave.src} alt="Wave hero" />}
</div>

<style
  define:vars={{
    textColor,
    flexDirContainer,
    sizeImageContainer,
    paddingInlineContainer,
    marginInlineContainer,
    paddingInlineMobileContainer,
    marginInlineMobileContainer
  }}
>
  .hero-container {
    position: relative;
    display: flex;
    flex-direction: var(--flexDirContainer);
    justify-content: space-between;
    align-items: center;
    color: var(--textColor);
    gap: 5rem;
    margin-inline: var(--marginInlineContainer);
    padding-inline: var(--paddingInlineContainer);
  }

  .image-container {
    width: var(--sizeImageContainer);
    height: var(--sizeImageContainer);
  }

  .image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1133/839;
  }

  .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30rem;
    z-index: -1;
    margin-bottom: -5rem;
    padding-inline: 6rem;
  }

  @media (width <= 1000px) {
    .hero-container {
      gap: 4rem;
      justify-content: center;
      flex-direction: column-reverse;
    }

    .image-container {
      width: 100%;
      height: auto;
    }

    .wave {
      padding-inline: 0;
      height: 35rem;
    }
  }

  @media (width <= 670px) {
    .hero-container {
      margin-inline: var(--marginInlineMobileContainer);
      padding-inline: var(--paddingInlineMobileContainer);
    }

    .wave {
      height: 40rem;
    }
  }
</style>
