---
import { Image } from "astro:assets"
import logoAlternative from "@images/logo-alternative.svg"
import logo from "@images/logo.svg"

const { alternative } = Astro.props
---

<a href="/">
  <Image class="logo" src={alternative ? logoAlternative : logo} alt="Logo Fylo" />
</a>
