---
import { menuHeader } from "@constants/"
---

<ul class="items-container">
  {
    menuHeader.map(({ text }) => (
      <li class="item">
        <a class="link" href="/" target="_self" rel="noopener noreferrer">
          {text}
        </a>
      </li>
    ))
  }
</ul>

<style>
  .items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 5rem;
  }

  .item {
    list-style: none;
  }

  .link {
    font-size: 2rem;
    text-decoration: none;

    &:visited {
      color: var(--very-dark-blue);
    }

    &:hover {
      opacity: 0.5;
    }
  }

  @media (width <= 670px) {
    .items-container {
      gap: 0 2.5rem;
    }
  }
</style>
