---
import { menuHeader } from "@constants/"

const { alternative } = Astro.props
const colorLink = alternative ? "var(--white)" : "var(--very-dark-blue)"
const linksMenu = menuHeader(alternative)
---

<ul class="items-container">
  {
    linksMenu.map(({ text, to }) => (
      <li class="item">
        <a class="link" href={to} target="_self" rel="noopener noreferrer">
          {text}
        </a>
      </li>
    ))
  }
</ul>

<style define:vars={{ colorLink }}>
  .items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 5rem;
  }

  .item {
    list-style: none;
  }

  .link {
    color: var(--colorLink);
    font-size: 2rem;
    text-decoration: none;

    &:visited {
      color: var(--colorLink);
    }

    &:hover {
      opacity: 0.5;
    }
  }

  @media (width <= 670px) {
    .items-container {
      gap: 0 2.5rem;
    }
  }
</style>
