---
import Logo from "@components/molecules/Logo.astro"
import type { TPages } from "@types"

interface Props {
  links: TPages[]
}

const { links } = Astro.props
---

<ul
  class="list-disc text-8xl text-white pl-20 sm:pl-16 marker:text-white flex flex-col gap-20 sm:gap-36">
  {
    links.map(({ id, name, logo, isAlternative }) => (
      <li title={id}>
        <Logo
          title={name}
          src={logo}
          href={new URL(id === "home" ? "" : id, Astro.url).pathname}
          isAlternative={isAlternative}
        />
      </li>
    ))
  }
</ul>
