---
import satish from "@assets/images/profile-1.jpg"
import bruce from "@assets/images/profile-2.jpg"
import iva from "@assets/images/profile-3.jpg"
import Break from "@components/atoms/Break.astro"
import Card from "@fylo/molecules/Card.astro"
---

<Break className="bg-customDarkBlueOther pt-64">
  <div
    class="relative w-full flex flex-wrap justify-center sm:justify-around items-center gap-14 sm:gap-5">
    <Card isFirst image={satish} user="Satish Patel" />
    <Card image={bruce} user="Bruce McKenzie" />
    <Card image={iva} user="Iva Boyd" />
  </div>
</Break>
