---
import fylo from "@assets/icons/fylo.svg"
import Break from "@components/atoms/Break.astro"
import Logo from "@components/molecules/Logo.astro"
import Socials from "@components/molecules/Socials.astro"
import Contact from "@fylo/molecules/Contact.astro"
import List from "@fylo/molecules/List.astro"
---

<Break className="bg-customDarkBlueFooter pb-20">
  <Logo title="Logo of Fylo" src={fylo} href="/fylo" />
  <div class="flex flex-col sm:flex-row items-start sm:justify-between gap-20 mt-10">
    <Contact />
    <List />
    <div class="flex items-center justify-cente sm:justify-end">
      <Socials isRounded />
    </div>
  </div>
</Break>
