---
import Work from "@fylo/molecules/Work.astro"
---

<div
  class="flex flex-wrap justify-center sm:justify-around items-center text-white bg-gradient-to-t from-customDarkBlueOther to-customDarkBlueMain bg-customDarkBlueOther -mx-10 sm:-mx-14 md:-mx-20 px-10 sm:px-14 md:px-20">
  <Work />
</div>
