---
import Img from "@components/atoms/Img.astro"
import Typography from "@components/atoms/Typography.astro"

interface Props {
  image: ImageMetadata
  title: string
  description: string
}

const { image, title, description } = Astro.props
---

<div class="text-center w-[27rem]">
  <Img className="inline-block size-24 object-contain" src={image} title={title} />
  <Typography tag="h2" className="text-3xl my-5 font-semibold">{title}</Typography>
  <Typography tag="p" className="text-xl text-normal">{description}</Typography>
</div>
