<div class="flex flex-col gap-10 justify-start items-start sm:flex-row text-white">
  <ul class="flex flex-col gap-5">
    <li class="font-light font-s">
      <a href="#" class="hover:opacity-50">About Us</a>
    </li>
    <li class="font-light font-s">
      <a href="#" class="hover:opacity-50">Jobs</a>
    </li>
    <li class="font-light font-s">
      <a href="#" class="hover:opacity-50">Press</a>
    </li>
    <li class="font-light font-s">
      <a href="#" class="hover:opacity-50">Blog</a>
    </li>
  </ul>
  <ul class="flex flex-col gap-5">
    <li class="font-light font-s">
      <a href="#" class="hover:opacity-50">Contact Us</a>
    </li>
    <li class="font-light font-s">
      <a href="#" class="hover:opacity-50">Terms</a>
    </li>
    <li class="font-light font-s">
      <a href="#" class="hover:opacity-50">Privacy</a>
    </li>
  </ul>
</div>
