---
import Nav from "@components/layouts/Nav.astro"
---

<Nav>
  <ul class="flex items-center justify-between gap-5 sm:gap-16">
    <li class="font-light text-white hover:opacity-50">
      <a href="/">Features</a>
    </li>
    <li class="font-light text-white hover:opacity-50">
      <a href="/">Team</a>
    </li>
    <li class="font-light text-white hover:opacity-50">
      <a href="/">Sign In</a>
    </li>
  </ul>
</Nav>
