---
import arrow from "@assets/icons/icon-arrow.svg"
import work from "@assets/images/illustration-stay-productive.png"
import Img from "@components/atoms/Img.astro"
import Typography from "@components/atoms/Typography.astro"
---

<>
  <Img src={work} title="Stay productive, wherever you are" className="sm:w-[40rem] h-auto mb-20" />
  <div class="sm:w-[50rem] flex flex-col gap-10">
    <Typography tag="p" className="text-4xl sm:text-3xl font-semibold"
      >Stay productive, wherever you are</Typography
    >
    <Typography tag="p" className="text-normal text-2xl"
      >Never let location be an issue when accessing your files. Fylo has you covered for all of
      your file storage needs.</Typography
    >
    <Typography tag="p" className="text-normal text-2xl"
      >Securely share files and folders with friends, family and colleagues for live collaboration.
      No email attachments required.</Typography
    >
    <div class="w-[14rem]">
      <a href="/" class="w-full text-xl flex justify-start items-center gap-2 text-customCyan mb-2">
        See how fylo works
        <Img className="size-auto" src={arrow} title="Arrow icon" />
      </a>
      <hr class="bg-customCyan w-full h-1" />
    </div>
  </div>
</>
