---
import Typography from "@components/atoms/Typography.astro"
import Nav from "@components/layouts/Nav.astro"
---

<Nav>
  <Typography className="text-cyan-400 text-8xl md:text-[10rem] font-bold" tag="h1"
    >Landing Pages:</Typography
  >
</Nav>
