---
import Typography from "@components/atoms/Typography.astro"
import Nav from "@components/layouts/Nav.astro"
---

<Nav>
  <Typography
    className="bg-gradient-to-r from-cyan-400 to-blue-400 bg-clip-text text-transparent text-8xl md:text-[10rem] font-bold"
    tag="h1">Landing Pages:</Typography
  >
</Nav>
