---
import { PAGES } from "@constants"
import Links from "@home/molecules/Links.astro"
---

<div class="mt-24 shadow-2xl shadow-cyan-500 rounded-2xl bg-cyan-400 p-20 sm:p-36">
  <Links links={PAGES} />
</div>
