---
interface Props {
  isRounded?: boolean
  className: string
}

const { className, isRounded } = Astro.props
---

<button
  class=`${className} border ${isRounded ? "rounded-full" : "rounded-none"} hover:opacity-50`
  type="button">
  <slot />
</button>
