---
import Typography from "@components/atoms/Typography.astro"

interface Props {
  className: string
  title: string
  description: string
}

const { className, title, description } = Astro.props
---

<div class={className}>
  <Typography tag="h1" className="mb-5 text-5xl font-bold">{title}</Typography>
  <Typography tag="p" className="text-3xl sm:px-16">{description}</Typography>
</div>
