---
import facebook from "@assets/icons/facebook.svg"
import instagram from "@assets/icons/instagram.svg"
import twitter from "@assets/icons/twitter.svg"
import Img from "@components/atoms/Img.astro"
---

<ul class="flex justify-start items-center gap-5 invert sepia saturate-0 hue-rotate-180">
  <li><Img className="size-10" src={instagram} title="Instagram" /></li>
  <li><Img className="size-10" src={facebook} title="Facebook" /></li>
  <li><Img className="size-10" src={twitter} title="Twitter" /></li>
</ul>
