---
import facebook from "@assets/icons/facebook.svg"
import instagram from "@assets/icons/instagram.svg"
import twitter from "@assets/icons/twitter.svg"
import Img from "@components/atoms/Img.astro"

interface Props {
  isRounded?: boolean
}

const { isRounded } = Astro.props
---

<ul class="flex justify-start items-center gap-5 invert sepia saturate-0 hue-rotate-180">
  <li class=`${isRounded ? "border border-black rounded-full p-2" : ""}`>
    <Img className="w-14" src={instagram} title="Instagram" />
  </li>
  <li class=`${isRounded ? "border border-black rounded-full p-2" : ""}`>
    <Img className="w-14" src={facebook} title="Facebook" />
  </li>
  <li class=`${isRounded ? "border border-black rounded-full p-2" : ""}`>
    <Img className="w-14" src={twitter} title="Twitter" />
  </li>
</ul>
