---
import "@fontsource-variable/raleway"
import "@fontsource-variable/open-sans"

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Fylo</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --very-dark-blue: #070439;
    --desaturated-blue: #585989;
    --bright-blue: #3065f8;
    --moderate-cyan: #3c9f8f;
    --light-grayish-blue: #f8f8fe;
    --light-gray: #bfbfbf;
    --white: #ffffff;

    --typography-headings-raleway: "Raleway Variable", sans-serif;
    --typography-body-open-sans: "Open Sans Variable", sans-serif;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    background-color: var(--white);
    color: var(--very-dark-blue);
    font-size: 10px;
  }

  body {
    margin: 0 auto;
    max-width: 150rem;
    padding: 6rem 6rem 0;
  }

  h2,
  a {
    font-family: var(--typography-headings-raleway);
  }

  h5,
  p,
  span {
    font-family: var(--typography-body-open-sans);
  }

  h2,
  h5 {
    font-weight: 700;
  }

  button,
  input {
    border-radius: 0.3rem;
    outline: none;
    border: none;
  }

  input {
    border: 0.1rem solid var(--very-dark-blue);
  }

  @media (width <= 670px) {
    html {
      font-size: 9px;
    }

    body {
      padding: 4rem 4rem 0;
    }
  }
</style>
