---
import Analytic from "@components/Analytic.astro"
import Cards from "@components/Cards.astro"
import Hero from "@components/Hero.astro"
import Logo from "@components/Logo.astro"
import Menu from "@components/Menu.astro"
import Header from "@layouts/Header.astro"
import Layout from "@layouts/Layout.astro"
import Main from "@layouts/Main.astro"
import Nav from "@layouts/Nav.astro"
import Section from "@layouts/Section.astro"
---

<Layout title="Dark" alternative>
  <Header>
    <Logo alternative />
    <Nav>
      <Menu alternative />
    </Nav>
  </Header>
  <Main>
    <Hero alternative />
  </Main>
  <Section>
    <Cards />
  </Section>
  <Section>
    <Analytic />
  </Section>
</Layout>
