---
import Conections from "@components/Conections.astro"
import Contacts from "@components/Contacts.astro"
import Hero from "@components/Hero.astro"
import Links from "@components/Links.astro"
import Logo from "@components/Logo.astro"
import Mentions from "@components/Mentions.astro"
import Menu from "@components/Menu.astro"
import Networks from "@components/Networks.astro"
import Footer from "@layouts/Footer.astro"
import Header from "@layouts/Header.astro"
import Layout from "@layouts/Layout.astro"
import Main from "@layouts/Main.astro"
import Nav from "@layouts/Nav.astro"
import Section from "@layouts/Section.astro"
---

<Layout title="Fylo | Home">
  <Header>
    <Logo />
    <Nav>
      <Menu />
    </Nav>
  </Header>
  <Main>
    <Hero />
  </Main>
  <Section>
    <Mentions />
  </Section>
  <Section>
    <Conections />
  </Section>
  <Footer>
    <Logo alternative />
    <div class="footer-content">
      <Contacts />
      <Nav>
        <Links />
      </Nav>
      <Networks />
    </div>
  </Footer>
</Layout>
