<main class="main-container">
  <slot />
</main>

<style>
  .main-container {
    text-align: center;
    padding: 0 10rem;
  }

  @media (width <= 1000px) {
    .main-container {
      padding: 0;
    }
  }
</style>
