---
import { Image } from "astro:assets"

const { icon, title, description } = Astro.props
---

<div class="analytic-card-container">
  <Image class="image" src={icon} alt={title} />
  <h6 class="title">{title}</h6>
  <p class="description">{description}</p>
</div>

<style>
  .analytic-card-container {
    width: 21rem;
    text-align: left;
  }

  .image {
    width: 3.5rem;
    height: 3.5rem;
  }

  .title {
    font-size: 7rem;
    margin: 1.5rem 0;
  }

  .description {
    font-size: 2rem;
    color: var(--very-dark-cyan);
    opacity: 0.5;
  }

  @media (width <= 1000px) {
    .analytic-card-container {
      justify-content: center;
    }

    .analytic-card-container:first-child {
      margin-bottom: 15rem;
    }
  }
</style>
