---
import MainBtn from "@components/MainBtn.astro"
---

<div class="community-container">
  <h2 class="title">Ready to Build Your Community?</h2>
  <MainBtn />
</div>

<style>
  .community-container {
    margin-block: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  @media (width <= 670px) {
    .title {
      font-size: 4rem;
    }
  }
</style>
