<div class="form-container">
  <h4 class="title">NEWSLETTER</h4>
  <p class="description">
    To recieve tips on how to grow your community, sign up to our weekly newsletter. We'll never
    send you spam or pass on your email address
  </p>
  <div class="container-send">
    <input class="email" type="text" />
    <button class="btn" type="button">Subscribe</button>
  </div>
</div>

<style>
  .form-container {
    width: 40rem;
    color: #ffffff;
  }

  .title {
    font-size: 3rem;
    line-height: 2.5rem;
  }

  .description {
    opacity: 0.8;
    margin-block: 3rem;
  }

  .container-send {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.8;
    align-items: center;
  }

  .email {
    width: 32rem;
    height: 4rem;
    background-color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    outline: none;
  }

  .btn {
    color: #ffffff;
    background-color: var(--pink);
    margin-left: 4rem;
    border-radius: 0.5rem;
    padding: 1rem 4rem;
    outline: none;
    border: none;
    opacity: 1.2;
  }

  .btn:hover {
    background-color: var(--light-pink);
  }

  @media (width <= 900px) {
    .form-container {
      width: 100%;
      margin-bottom: 10rem;
    }

    .description {
      font-size: 1.5rem;
    }
  }

  @media (width <= 670px) {
    .container-send {
      justify-content: flex-end;
    }

    .email {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
</style>
