<a class="link" href="/">Try It Free</a>

<style>
  .link {
    font-size: 1.5rem;
    color: var(--pink);
    text-decoration: none;
    border: 1px solid var(--pink);
    border-radius: 50px;
    padding: 1rem 2.5rem;
  }

  .link:hover {
    color: var(--light-pink);
    border-color: var(--light-pink);
  }
</style>
