<div>
  <h1>Build The Community Your Fans Will Love</h1>
  <p>Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion.</p>
</div>

<style>
  h1 {
    font-size: 5rem;
    }

  p {
    font-size: 2rem;
    margin: 2rem 0 4.5rem 0;
    padding: 0 25rem;
  }
</style>
