---
import { Image } from "astro:assets"
import MainBtn from "@components/MainBtn.astro"
import MainImage from "@images/screen-mockups.svg"

const { title, description } = Astro.props
---

<div class="hero-container">
  <h2 class="title">{title}</h2>
  <p class="description">{description}</p>
  <MainBtn />
  <Image class="image-hero" src={MainImage} alt="Main image" />
</div>

<style>
  .hero-container {
    margin-block: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  .description {
    width: 50rem;
    font-size: 2rem;
    margin-bottom: 4.5rem;
  }

  .image-hero {
    width: 100%;
    aspect-ratio: 1035/739;
    margin-top: 10rem;
  }

  @media (width <= 1000px) {
    .image-hero {
      height: 40rem;
    }
  }

  @media (width <= 670px) {
    .title {
      font-size: 4rem;
    }

    .description {
      width: 100%;
      font-size: 1.5rem;
    }
  }
</style>
