---
import Hero from "@components/Hero.astro"
import Logo from "@components/Logo.astro"
import bgImageDesktop from "@images/bg-desktop.svg"
import bgImageMobile from "@images/bg-mobile.svg"
import facebook from "@images/facebook.svg"
import instagram from "@images/instagram.svg"
import twitter from "@images/twitter.svg"
import Networks from "./Networks.astro"

const backgroundImageDesktop = `url(${bgImageDesktop.src})`
const backgroundImageMobile = `url(${bgImageMobile.src})`
---

<div class="introduction-container">
  <div class="introduction">
    <div class="logo-container">
      <Logo alternative />
    </div>
    <Hero
      alternative
      title="Build The Community Your Fans Will Love"
      description="Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion."
      textBtn="Register"
    />
    <Networks icons={{ facebook, instagram, twitter }} alternative />
  </div>
</div>

<style is:global define:vars={{ backgroundImageDesktop, backgroundImageMobile }}>
  .introduction-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: center / cover no-repeat var(--backgroundImageDesktop) var(--violet);
  }

  .introduction {
    margin: 0 auto;
    padding: 10rem;
    max-width: 150rem;
  }

  .logo-container {
    margin-bottom: 15rem;
  }
  @media (width <= 1300px) {
    .image-hero {
      width: 50rem;
    }
  }

  @media (width <= 1300px) {
    .introduction-container {
      background-image: var(--backgroundImageMobile);
    }
  }

  @media (width <= 1000px) {
    .introduction {
      padding: 5rem;
    }
  }
</style>
