<button>Get Stated For Free</button>

<style>
  button {
    width: 40rem;
    color: var(--very-pale-blue);
    background-color: var(--pink);
    font-size: 1.5rem;
    padding: 3rem 10.5rem;
    border: none;
    outline: none;
    border-radius: 5rem;

    &:hover {
      background-color: var(--light-pink);
    }
  }
</style>
