<button class="main-btn">Get Stated For Free</button>

<style>
  .main-btn {
    width: 45rem;
    color: #ffffff;
    background-color: var(--pink);
    font-size: 2rem;
    padding: 3rem 10.5rem;
    border: none;
    outline: none;
    border-radius: 5rem;
    font-weight: 600;
  }

  .main-btn:hover {
    background-color: var(--light-pink);
  }
</style>
