---
const { text, alternative } = Astro.props

const btnColor = alternative ? "var(--violet)" : "var(--very-pale-blue)"
const bgColor = alternative ? "var(--very-pale-blue)" : "var(--pink)"
const bgColoHover = alternative ? "var(--soft-magenta)" : "var(--light-pink)"
const padd = alternative ? "2rem 8rem" : "3rem 10.5rem"
const fontFamilyBtn = alternative
  ? "var(--typography-headings-poppins)"
  : "var(--typography-body-open-sans)"
---

<a class="main-btn" href="/introductions">{text}</a>

<style define:vars={{ btnColor, bgColor, bgColoHover, padd, fontFamilyBtn }}>
  .main-btn {
    color: var(--btnColor);
    background-color: var(--bgColor);
    font-size: 2rem;
    padding: var(--padd);
    border: none;
    outline: none;
    border-radius: 5rem;
    font-weight: 600;
    text-decoration: none;
    font-family: var(--fontFamilyBtn);
  }

  .main-btn:hover {
    color: var(--very-pale-blue);
    background-color: var(--bgColoHover);
  }
</style>
