---
import { Image } from "astro:assets"

const { icons, alternative } = Astro.props
const { facebook, instagram, twitter } = icons
const justifyContent = alternative ? "flex-end" : "flex-start"
const justifyContentMd = alternative ? "center" : "flex-start"
const border = alternative ? "0.1rem solid var(--very-dark-cyan)" : "none"
const padding = alternative ? "0.5rem" : "0"
---

<div class="networks-container">
  <Image class="icon" src={facebook} alt="Facebook" />
  <Image class="icon" src={instagram} alt="Instagram" />
  <Image class="icon" src={twitter} alt="Twitter" />
</div>

<style define:vars={{ justifyContent, justifyContentMd, border, padding }}>
  .networks-container {
    filter: invert(1) sepia(1) saturate(0) hue-rotate(175deg);
    display: flex;
    justify-content: var(--justifyContent);
    align-items: center;
    gap: 0 2rem;
    margin-top: 4rem;
  }

  .icon {
    border: var(--border);
    padding: var(--padding);
    border-radius: 50%;
  }

  @media (width <= 670px) {
    .networks-container {
      justify-content: var(--justifyContentMd);
    }
  }
</style>
