---
import { Image } from "astro:assets"
import email from "@images/icon-email.svg"
import phone from "@images/icon-phone.svg"
import Logo from "./Logo.astro"
---

<div class="socials-container">
  <Logo alternative />
  <p class="description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo maiores nemo cumque. Distinctio vel
    saepe voluptatem dolores recusandae.
  </p>
  <div class="contact">
    <Image src={phone} alt="Phone" />
    <span class="contact-text">Phone: +1-543-123-4567</span>
  </div>
  <div class="contact">
    <Image src={email} alt="Email" />
    <span class="contact-text">example@huddle.com</span>
  </div>
  <div class="networks">asdas</div>
</div>

<style>
  .socials-container {
    width: 35%;
    color: #ffffff;
    padding-inline: 8rem;
  }

  .description {
    opacity: 0.8;
    margin-block: 3rem;
  }

  .contact {
    display: flex;
    margin-block: 2rem;
  }

  .contact-text {
    opacity: 0.8;
    margin-left: 1.5rem;
  }

  .networks {
    margin-top: 6rem;
  }
</style>
